---
// src/pages/portafolio.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Contacto from '../components/Contacto.astro';
import '../styles/global.css';
// La ruta actual es /portafolio. 
const currentPath = '/contactos';
---
<Layout title="Contáctanos-Cuervo Rosa Studio" currentPath={Astro.url.pathname}> 
    <Header currentPath={currentPath} />
    
    <main class="pt-20"> 
        <Contacto />
    </main>
    
    <Footer />
</Layout>